
@import 'styles/_variables';
@import 'styles/_mixins';

.weather {
    height: 100%;
    width: 100%;
    padding: 40px 120px;
    
    @include screen-lg {
        padding: 20px;
    }

    &__time {
        @include screen-lg {
            margin-bottom: 20px;
        }
    }

    &__city-home {
        cursor: pointer;
    }

    &__wrapper {
        .headers {
            width: 100%;
        }

        @media only screen and (max-width: 1200px) {
            .headers {
                flex-direction:column;
            }
        }
    }

    &__details {
        padding: 0 25px;
        color: $color-font-white !important;

        .icon {
            margin-right: 30px;
        }

        @include screen-lg {
            padding: 0;
        }
    }

    &__more-details {
        color: $color-font-white !important;

        p {
            color: $color-font-white !important;
        }

        @include screen-lg {
            padding-top: 40px;
        }
    }

    &__forecast-select {
        margin-top: 100px;
        
        @include screen-lg {
            padding: 0;
            margin-top: 60px;
        }

        .btn-dark {
            color: $color-font-light;
            background-color: $color-brand-dark;
            border: none;
            padding: 10px 20px;
            
            .active {
                color: $color-brand-light;
            }
        }
        
        .card {
            margin: auto;
            min-width: 90px;
            padding: 5px 10px;
            color: $color-font-white;
            background-color: #323741 !important;
            
            &:hover {
                cursor: pointer;
            }

            .card-img {
                margin-right: 10px;
            }

            p {
                color: $color-font-white;
            }
        }
    }

    &__city-selector {
        width: 100%;
        max-width: 600px;
        margin-bottom: 3rem;
    }

    &__wrapper {
        width: 100%;
        padding: 40px;
        align-items: center;
    }

    &__logo {
        padding: 22px;
    }

    &__form {
        width: 100%;
        margin-bottom: 15px;

        .form-group {
            margin-bottom: 23px;
        }
    }
}
