
@import 'styles/_variables';
@import 'styles/_mixins';

.button {
    position: relative;
    display: flex !important;
    padding: 13px 2.5rem;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius-small;
    outline: 0;
    height: 44px;
    box-shadow: none;

    &.size {
        &-sm {
            height: 32px !important;
        }

        &-md {
            height: 44px;
        }

        &-lg {
            height: 60px;
        }
    }

    &:active:focus, &:focus, &.active, &:not(.disabled):active:focus, &:focus:not(:focus-visible) {
        outline: 0;
        box-shadow: none;
    }

    &:hover {
        &.btn-outline-primary, &.btn-outline-secondary, &.btn-outline-warning, &.btn-outline-danger, &.btn-outline-dark, &.btn-outline-primary {
            p {
                color: $color-font-white !important;
            }
        }

        &.btn-outline-light {
            p {
                color: $color-font-base !important;
            }
        }
    }

    &.btn-link {
        text-decoration: none;

        &:hover {
            text-decoration: none !important;
        }
    }

    &.btn-light {
        color: $color-brand-blue;
    }

    &__spinner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 10px;
        margin: auto;
        width: 1.2rem !important;
        height: 1.2rem !important;

        &.text-light {
            color: $color-font-white !important;
        }

        &.spinner-border {
            vertical-align: unset;
            border-width: 0.15em !important;
        }
    }
}
